body {
    background-color: #E80101;
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.logo {
    width: 100%;
    height: 100px;
    position: relative;
    top: -20px;
    background-color: white;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.home img {
    width: 8%; /* Cambiato a 50% per ridurre le dimensioni */
    height: 8%; /* Cambiato a 50% per ridurre le dimensioni */
    position: absolute;
    top: 10px;
    right: 30px;
    object-fit: contain;
    z-index: 10;
}
.torna_indietro img {
    width: 8%; /* Cambiato a 50% per ridurre le dimensioni */
    height: 8%; /* Cambiato a 50% per ridurre le dimensioni */
    position: absolute;
    top: 10px;
    left: 20px;
    object-fit: contain;
    z-index: 10;
}
.change img {
    width: 8%; /* Cambiato a 50% per ridurre le dimensioni */
    height: 8%; /* Cambiato a 50% per ridurre le dimensioni */
    position: absolute;
    top: 10px;
    right: 100px;
    object-fit: contain;
    z-index: 10;
}
/* Aggiungi stili per nascondere il menu a tendina inizialmente */
.cambiolingua {
    display: none;
    position: absolute;
    top: 10%; /* Posiziona il menu sotto l'immagine */
    right: 100px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.cambiolingua a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.cambiolingua a:hover {
    background-color: #f1f1f1;
}
.domande img {
    width:7%; /* Cambiato a 50% per ridurre le dimensioni */
    height: 7%; /* Cambiato a 50% per ridurre le dimensioni */
    position: absolute;
    top: 10px;
    left: 100px;
    object-fit: contain;
    z-index: 10;
}